{{#unless hideRank}}
<div class="corner top">
  <span class="number">{{number}}</span>
  <span>{{symbol}}</span>
</div>
{{/unless}}

{{#if isFace}}
<span class="face"></span>
{{else}}
{{#each pos in suitPositions}}
<span {{bind-attr class=':suit pos'}}>{{symbol}}</span>
{{/each}}
{{/if}}

{{#unless hideRank}}
<div class="corner bottom">
  <span class="number">{{number}}</span>
  <span>{{symbol}}</span>
</div>
{{/unless}}
